body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }
  .nav-container{
    overflow: hidden;
    background-color: rgba(8, 8, 8, 0.87);
}
.nav-container li {
    float: left;
    color: #c45e5e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
    margin: 0;
  }
  .nav-container li:hover {
    background-color: #ddd;
    color: black;
  }
  .nav-container li.active {
    background-color: #cc5b53;
    color: rgb(211, 96, 96);
  }
  .nav-container{
    text-align: left;
    border-style: solid;
}
.logo{
    text-align: left;
}
.nav-items{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #9c2c2c;
    position:relative;
    width:1500px;
   height: 50px;
   text-align: start;
}
.logo{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow:visible;
    margin-top: -6px;
  }


  .chat-head{
      color: white;
  }



  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }

.container::after {
    content: "";
    clear: both;
    display: table;
}
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}
.time-right {
    float: right;
    color: #aaa;
}
.time-left {
    float: left;
    color: #999;
}
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
.form-container .cancel {
    background-color: red;
}
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
      
 